@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/main.woff');
}

* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}

body {
   font: 13px 'Open Sans', verdana;
}

a {
   color: red;
   text-decoration: none;
}

#wrapper {
   background: yellow;
   padding: 10px;
}

#menu {
   background: gray;
   display: flex;

   div {
      flex: 1;
   }

   div:last-child {
      text-align: right;
   }

   .item {
      padding: 10px 14px;
      color: white;
      display: inline-block;
      cursor: pointer;
   }

   .item:hover {
      background: rgb(110, 110, 110);
   }
}

#innerbody {
   padding: 15px;

   .item {
      background: gray;
      padding: 5px 7px;
      color: white;
      margin: 0px;
      margin-right: 5px;
      cursor: pointer;
      display: inline-  block;
   }
}