@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/main.woff');
}

* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}

body {
   font: 13px 'Open Sans', verdana;
}

a {
   color: red;
   text-decoration: none;
}

#wrapper {
   background: yellow;
   padding: 10px;
}