@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/main.woff');
}

* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}

body {
   font: 13px 'Open Sans', verdana;
   background: url('../images/2.png');
}

a {
   color: rgb(34, 34, 34);
   text-decoration: none;
}

a:hover {
   color: red;
   transition: 0.2s;
}

#wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
}