#innerbody {
   flex: 1;
   display: flex;
   height: 100%;
   border-top: 1px solid rgb(190, 190, 190);

   > div {
      flex: 1;
      padding: 10px;
   }

   > div:nth-child(1) {
      background: rgb(156, 156, 156);
   }

   > div:nth-child(2) {
      background: rgb(139, 139, 139);
      border-left: 1px solid rgb(190, 190, 190);
   }
 
   // DATA CONTAINER
   .box {
      background: #F1F1F1;
      border: 1px solid rgb(224, 224, 224);
      padding: 2px;
      padding-bottom: 0px;
      margin-bottom: 5px;

      #header, #form-header, .row {
         background: rgb(70, 135, 179);
         padding: 7px 9px;
         margin-bottom: 2px;
         color: white;
         text-shadow: 1px 1px #292929;
      }

      #header, #form-header {
         text-transform: uppercase;
      }

      #form-header {
         margin-bottom: 2px;
      }

      .row {
         background: rgb(209, 209, 209);
         color: rgb(34, 34, 34);
         text-shadow: 1px 1px rgb(235, 235, 235);
      }

      .row:nth-child(even) {
         background: rgb(195, 211, 185);
      }

      #split {
         display: flex;
   
         div {
            flex: 1;
         }

         div:nth-child(1) {
            text-transform: capitalize;
         }

         div:nth-child(2) {
            text-align: right;
         }
      }
   }
}