#innerbody {
   flex: 1;
   display: flex;
   height: 100%;

   > div {
      flex: 1;
      padding: 10px;
   }

   > div:nth-child(1) {
      background: rgba(73, 73, 73, 0.055);
   }

   > div:nth-child(2) {
      background: rgba(73, 73, 73, 0.123);
      border-left: 1px solid rgb(190, 190, 190);
   }
 
   // DATA CONTAINER
   .box {
      background: rgb(255, 255, 255);
      border: 1px solid rgb(190, 190, 190);
      padding: 2px;
      padding-bottom: 0px;
      margin-bottom: 5px;

      #header, #form-header, .row {
         background: rgba(32, 78, 109, 0.863);
         padding: 7px 9px;
         margin-bottom: 2px;
         color: white;
         text-shadow: 1px 1px #292929;
      }

      #header, #form-header {
         text-transform: uppercase;
         position: relative;
      }

      #header:after, #form-header:after {
         content: "";
         background: url('../images/1.png');
         opacity: 0.2;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         position: absolute;
      }

      #form-header {
         margin-bottom: 2px;
      }

      .row {
         background: rgba(26, 119, 126, 0.397);
         border-bottom: 2px solid rgba(26, 119, 126, 0.205);
         color: rgb(34, 34, 34);
         text-shadow: 1px 1px rgb(215, 220, 223);
      }

      .row:nth-child(even) {
         background: rgb(195, 211, 185);
      }

      #split {
         display: flex;
   
         div {
            flex: 1;
         }

         div:nth-child(1) {
            text-transform: capitalize;
         }

         div:nth-child(2) {
            text-align: right;
         }
      }
   }

   #error {
      background: #F1F1F1;
      padding: 2px;

      #header {
         background: rgb(165, 53, 53);
         border-bottom: 2px solid #F1F1F1;
         padding: 7px 9px;
         color: white;
      }

      #content {
         background: rgb(192, 192, 192);
         padding: 7px 9px;
      }
   }
}