input {
   border: 0px solid black;
   font: inherit;
   padding: 6px 9px;
   width: 100%;
   color: white;
   outline: none;
   text-shadow: 1px 1px #292929;
   margin-bottom: 2px;
   transition: background 0.2s;
}

input::placeholder {
   color: white;
   text-transform: capitalize;
}

.bad-input, .good-input {
   background: rgb(177, 103, 103);
   border-bottom: 2px solid rgb(165, 81, 81);
}

.good-input {
   background: rgb(120, 156, 106);
   border-bottom: 2px solid rgb(110, 139, 98);
}

.button-container {
   display: inline-block;
   background: #F1F1F1;
   border: 1px solid rgb(224, 224, 224);
   padding: 2px;
   margin-left: 5px;
   margin-bottom: 5px;
}

.bad-button, .good-button {
   background: rgb(177, 103, 103);
   border-bottom: 2px solid rgb(153, 81, 81);
   padding: 5px 8px;
   display: inline-block;
   cursor: pointer;
   color: white;
   transition-property: background, border;
   transition-duration: 0.2s, 0.2s;
   text-transform: uppercase;
}

.good-button {
   background: rgb(102, 153, 82);
   border-bottom: 2px solid rgb(81, 134, 68);
}