#menu {
    background-image: url('../images/1.png');
    border-bottom: 2px solid rgba(43, 43, 43, 0.925);
    display: flex;

    div:nth-child(1) {
        background: rgba(48, 48, 48, 0.822);
        flex: 1;
    }

    div:last-child {
        background: rgba(48, 48, 48, 0.822);
    }

    .item {
        padding: 10px 12px;
        color: white;
        display: inline-block;
        cursor: pointer;
        text-shadow: 1px 1px #242424;
    }

    .item:hover {
        background: rgba(46, 46, 46, 0.397);
    }
}